@model IEnumerable<MIS4200Team2.Models.Profile>

@{
    ViewBag.Title = "My Profile";
}

<h2>My Profile</h2>

{
 
    <div class="row">
        <div class="col-lg-2">
            <h2 style="color:rgb(0, 73, 145);"> Employee First Name Last Name </h2>
            <p class="lead" style="color: orange;">
                
            </p>
        </div>
        <div class="col-md-4">
            <h2 style="color:rgb(0, 73, 145);">Aboyt Employee First Name Last Name</h2>
            <p class="lead" style="color: orange;">
                Line of Business
                Start Date
            </p>
        </div>
    </div>

    <div>
        <h1 style="color:rgb(0, 73, 145);"><b>Employee Recongitions</b></h1>
        <p class="lead" style="color: orange;">Employee Recognition Content</p>
        <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>


