@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 style="color:rgb(0, 73, 145);"><b>Centric Consulting - Employee Recongition</b></h1>
    <p class="lead" style="color: orange;">Centric Consulting is a innovative digital, business, and technology consulting group looking to enhance employee satisfaction through a recognition program highlighting core values and point systems.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    <div id="centricCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#centricCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#centricCarousel" data-slide-to="1"></li>
            <li data-target="#centricCarousel" data-slide-to="2"></li>
        </ol>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://centricconsulting.com/wp-content/uploads/2018/07/Business-Icon-300x200.png" alt="Employee Recognition" style="width:100%;">
                <div class="carousel-caption">
                    <h2> Employee Recognition </h2>
                    <p> Centric recognizes emplyees...</p>
                </div>
                <div class="carousel-item">
                    <img src="https://ww1.prweb.com/prfiles/2019/04/30/16275299/centric_logo_color.jpg" alt="Centric" style="width:100%;">
                    <div class="carousel-caption">
                        <h2> Employee Recognition </h2>
                        <p> Centric recognizes emplyees...</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://centricconsulting.com/wp-content/uploads/2018/07/Digital-Icon.png" alt="Consulting" style="width:100%;">
                    <div class="carousel-caption">
                        <h2> Employee Recognition </h2>
                        <p> Centric recognizes emplyees...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#centricCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#centricCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2 style="color:rgb(0, 73, 145);"> How Point System Works</h2>
        <p class="lead" style="color: orange;">
            Employees are awarded points through acting to enhance the company's core values. The managers and general employees can award each other points for
            specific tasks, but an employee is not able to give themselves points. Points will be reviewed by the system every week and at the end of the month
            employees with a certain point total will be rewarded.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:rgb(0, 73, 145);">Centric's Core Values</h2>
        <p class="lead" style="color: orange;">
            - Stewartship <br />
            - Culture <br />
            - Delivering Excellence <br />
            - Innovation <br />
            - Greater Good <br />
            - Integrity and Openness<br />
            - Balance <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:rgb(0, 73, 145);">Employee Recognition</h2>
        <p class="lead" style="color: orange;"> Here at Centric, we respect and appreciate our employees and we aim to give them the recognition they deserve.</p>
    </div>
</div>
