@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Consulting - Employee Recongition</h1>
    <p class="lead">Centric Consulting is a innovative digital, business, and technology consulting group looking to enhance employee satisfaction through a recognition program highlighting core values and point systems.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How Point System Works</h2>
        <p>
           Employees are awarded points through acting to enhance the company's core values. The managers and general employees can award each other points for
            specific tasks, but an employee is not able to give themselves points. Points will be reviewed by the system every week and at the end of the month 
            employees with a certain point total will be rewarded.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Centric's Core Values</h2>
        <p>
            - Stwartship <br />
            - Culture <br />
            - Delivering Excellence <br />
            - Innovation <br />
            - Greater Good <br />
            - Integrity and Openness<br />
            - Balance <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>